<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Study Buddy - Matching</title>
</head>
<body>
<h2>Study Buddy</h2>

<div th:if="${noProfiles}">
  <h2> Tous les étudiant·e·s vous ont été proposé·e·s. </h2>
</div>

<div th:unless="${noProfiles}">




    <p><strong>ID:</strong> <span th:text="${profile.studentId}"></span></p>
    <p><strong>Name:</strong> <span th:text="${profile.fullname}"></span></p>
    <p><strong>Skills à travailler:</strong> <span th:text="${profile.skills}"></span></p>
    <p><strong>Campus:</strong> <span th:text="${profile.campus}"></span></p>


<!-- <form th:action="@{/api/users/{userId}/like/{profileId}(userId=${currentStudent},profileId=${profile.studentId})}" method="post" style="display:inline">
    <button type="submit">J'aime</button>
</form> -->
    <form th:action="@{/like}" method="post" style="display:inline">
        <input type="hidden" name="userId" th:value="${currentStudent}" />
        <input type="hidden" name="id" th:value="${profile.studentId}"/>
        <button type="submit">J'aime</button>
    </form>

 
 
 <!--<form th:action="@{/api/users/{userId}/dislike/{profileId}(userId=${currentStudent},profileId=${profile.studentId})}" method="post" style="display:inline">
    <button type="submit">J'aime pas</button>
</form>
-->


    <form th:action="@{/dislike}" method="post" style="display:inline">
        <input type="hidden" name="userId" th:value="${currentStudent}" />
        <input type="hidden" name="id" th:value="${profile.studentId}"/>
        <button type="submit">J'aime pas</button>
    </form>
</div>
 
 
  <!-- 
 <form th:action="@{/api/users/{userId}/matches(userId=${currentStudent})}" method="get">
    <button type="submit">Voir mes matchs</button>
</form>
  -->
 


<form th:action="@{/matches}" method="get">
    <input type="hidden" name="userId" th:value="${currentStudent}">
    <button type="submit">Voir mes matchs </button>
</form>

  <!-- 
 <a th:href="@{/api/users/profile/{id}(id=${currentStudent})}">Mon Profil</a>
 
 -->

<a th:href="@{http://localhost:8081/}">
    Mon Profil
</a>



<div th:if="${profile == null}">
    <p>No profile found in database.</p>
</div>

</body>
</html>
