<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Study Buddy - Accueil</title>
</head>
<body>
    <h1>Study Buddy</h1>
    <p>Trouvez votre partenaire de révision </p>

    <h2>Menu Principal</h2>
    <ul>
        <li>
            <a th:href="${usersServiceUrl}">Créer / Gérer Utilisateur</a>
        </li>
        <li>
            <a th:href="${interactionsServiceUrl}"> Accéder à l'interface de matching </a>
        </li>

    </ul>

    </body>
</html>